.box{
    height: 50px;
    display: none;
    border-bottom: 1px solid #333333;
}

.box i{
    cursor: pointer;
}
.menuFake{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}
.menuShow{
    width: 270px;
    height: 100vh;
    right: 0;
    top: 0;
    z-index: 11;
    transition: 0.3s;
}
.menuHidden{
    width: 270px;
    height: 100vh;
    right: -270px;
    top: 0;
    z-index: 11;
    transition: 0.3s;
}
@media (max-width: 1024px) {
   .box{
       display: flex;
   }
}
@media (max-width: 700px) {
    .menuShow{
        width: 100%;
    }
    .menuHidden{
        width: 100%;
        right: -100%;
    }
}
