.box{
    width: 1600px;
    min-height: 120px;
}
.text{
    font-size: 13px;
}
.phone{
    font-size: 13px;
    opacity: 0.7;
    overflow: hidden;
    white-space: nowrap;
}
.Btn{
    white-space: nowrap;
}
.under{
    display: none;
}
@media (max-width: 1600px) {
    .box{
        width: 100%;
        min-height: 120px;
    }
}
@media (max-width: 600px) {
    .under{
        display: block;
    }
}
