.box{
    height: 130px;
    transition: 0.3s;
    position: fixed;
    width: 100%;
}

@media (max-width: 1024px) {
    .box{
        height: 155px;
    }
}
@media (max-width: 600px) {
    .box{
        height: 120px;
    }
}
