

.box{
    width: 1600px;
    padding: 0 20px;
    transition: 0.3s;
}
.main{
    width: 100%;
    border-radius: 10px;
    overflow: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
}
.logo{
    width: 170px;
}

.productBox{
    width: 100%;
    height: 260px;
}
.BTN{
    width: 40px;
    height: 40px;
    top: 40%;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.7;
}
.BTN:hover{
    background-color: #2d2d2d!important;
    color: lightgrey!important;
}

.right{
    right: 25px;
    display: none;
}
.left{
    left: 25px;
    display: flex;
}

.logo a{
    text-decoration: none;
    font-size: 15px;
    transition: 0.2s;
}


@media screen and (max-width: 1600px) {
    .box{
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    .box{
        padding: 0;
    }
    .main{
        border-radius: 0;
    }
}


