.box{
    display: none;
    position: fixed;
    bottom: 0;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
.text{
    font-size: 13px;
    white-space: nowrap;
}
.box a{
    color: #979797;
    transition: 0.3s;
}
.box a:hover{
    color: #ff0000;
}
@media (max-width: 600px) {
    .box{
        display: flex;
    }
}
